[Unit]
Description=remindme CLI daemon
After=default.target

[Service]
Type=simple
EnvironmentFile=-%h/.config/remindme.env
ExecStart=@INSTALL_BIN@ __daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
